*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua#E4E4E4;
    display: flex;
    align-items:left;
    justify-content: center;
    min-height: 100vh;
}
form{
    background-color: #f5f5f5;
    padding: 50px;
    width: 900px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,2);
    font-size: 15px;
}
select{
    margin-bottom: 10px;
     margin-top: 10px;
}

form h2{
    font-size: 25px;
    color: #1E1E1E;
    text-transform: uppercase;
    margin-bottom: 35xp;
    align-items:center;
}
.input-container{
    position: relative;
}
.input-container>i{
    padding: 14px;
    border-radius: 50%;
    background: linear-gradient( 90deg,
     rgb(140, 212, 221) 0%, rgb(55, 57, 196) 50%
     );
     color: #fcfef7;
     position: absolute;
     font-size: 20px;
     top: 4px;
     left: 10px;

}
.input-container > input{
    padding: 0 aut;
    width: 40%;
    margin-bottom: 0px;
    border-radius: 15px;
    background-color: transparent;
    border: 2px solid #0e0d0d;
    font-size: 0 aut;
    outline: none;
    color: #0c0b0b;
}

::placeholder {
    color: #a0a0a0;
    font-size:26px;
}
form a {
    display: block;
    color: #424141;
    font-size: 2px;
    text-decoration: none;
    text-align: left;
    margin-bottom: 25px;
}
.btn{
    background: linear-gradient( 90deg,
     rgb(7, 219, 96) 0%, rgb(8, 226, 44) 60%
     );
     padding: 15px 50px;
     border: 0;
     box-shadow: 0 0 20px rgb(0,0,0,0,2);
     border-radius: 30px;
     color: #0f0e0b;
     font-size: 12px;
     cursor: pointer;

} 
.success {
    position: absolute;
    top: 50px;
    color: "00a735";
    font-size: 18px;
}
.error{
    position: absolute;
    top: 50px;
    color: #e02d00;
    font-size: 18px;
}
@media(max-width:991px){
    body{
        padding: 30px;}
    
    form{width: 340px;}
}

   